@mixin tall() {
  height: 100%;
}

@mixin wide() {
  width: 100%;
}

@mixin absolute() {
  position: absolute;
}

@mixin relative() {
  position: relative;
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

@mixin overflow-scrolling($scrolling) {
  -webkit-overflow-scrolling: $scrolling;
     -moz-overflow-scrolling: $scrolling;
       -o-overflow-scrolling: $scrolling;
          overflow-scrolling: $scrolling;
}

@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
     -moz-transform: translate3d($x, $y, $z);
       -o-transform: translate3d($x, $y, $z);
          transform: translate3d($x, $y, $z);
}

@mixin smooth-scroll() {
  overflow: auto;
  @include transition(top .2s linear);
  @include transition(bottom .2s linear);
  @include overflow-scrolling(touch);
}

.ngSnap {
  &.ngSnap-content,
  &.ngSnap-shelves,
  .ngSnap-shelf {
    @include absolute();
    @include wide();
    @include tall();
  }

  .ngSnap-shelf {
    @include smooth-scroll();

    &.right {
      right: 0;
    }
  }
}
