.tall() {
  height: 100%;
}

.wide() {
  width: 100%;
}

.absolute() {
  position: absolute;
}

.relative() {
  position: relative;
}

.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}

.overflow-scrolling(@scrolling) {
  -webkit-overflow-scrolling: @scrolling;
     -moz-overflow-scrolling: @scrolling;
       -o-overflow-scrolling: @scrolling;
          overflow-scrolling: @scrolling;
}

.translate3d(@x, @y, @z) {
  -webkit-transform: translate3d(@x, @y, @z);
     -moz-transform: translate3d(@x, @y, @z);
       -o-transform: translate3d(@x, @y, @z);
          transform: translate3d(@x, @y, @z);
}

.smooth-scroll() {
  overflow: auto;
  .transition(top .2s linear);
  .transition(bottom .2s linear);
  .overflow-scrolling(touch);
}

.ngSnap {
  &.ngSnap-content,
  &.ngSnap-shelves,
  .ngSnap-shelf {
    .absolute;
    .tall;
  }

  &.ngSnap-content,
  &.ngSnap-shelves {
    .wide;
  }

  .ngSnap-shelf {
    .smooth-scroll;
    z-index: -1;

    &.right {
      right: 0;
    }
  }
}

// Fix for shelf flickering? Can clean up some redundant styles above if this
// works well
[snap\:content], [snap-content], [data-snap-content], [x-snap-content], .snap-content, .x-snap-content,
[snap\:shelves], [snap-shelves], [data-snap-shelves], [x-snap-shelves], .snap-shelves, .x-snap-shelves,
[snap\:shelf], [snap-shelf], [data-snap-shelf], [x-snap-shelf], .snap-shelf, .x-snap-shelf {
  .absolute;
}

[snap\:content], [snap-content], [data-snap-content], [x-snap-content], .snap-content, .x-snap-content,
[snap\:shelves], [snap-shelves], [data-snap-shelves], [x-snap-shelves], .snap-shelves, .x-snap-shelves {
  .tall;
  .wide;
}
