html, body, #content {
  height: 100%;
  width: 100%;
}

#content {
  background-color: #fff;

  -moz-box-shadow: 0 0 20px #888;
  -webkit-box-shadow: 0 0 20px #888;
  box-shadow: 0 0 20px #888;
}

#shelf-1 {
  width: 235px;
  padding: 0 10px;
}

#nav-wrapper {
  width: 100%;
  text-align: center;
}

.navbar, .jumbotron {
  background: url("../images/textured_stripes.png") repeat;
}
