html, body, #content {
  height: 100%;
  width: 100%;
}

#content {
  background-color: #fff;

  -moz-box-shadow: 0 0 20px #888;
  -webkit-box-shadow: 0 0 20px #888;
  box-shadow: 0 0 20px #888;
}

#shelf-1 {
  width: 235px;
  padding: 0 10px;
}

#nav-wrapper {
  width: 100%;
  text-align: center;
}

.scrollable{
    overflow: auto;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}
